form .botoncito{
    background-color: transparent;
    color: green;
}

header nav{
    background-color: rgb(247, 245, 245);
}

div img{
   height: 35vh;
}

main .col-4{
    padding: 0;
}

div .card-footer{
    background-color: transparent;
    border: 0px;
    color: rgb(126, 126, 126);
    font-size: 15px;
    padding-bottom: 15px;
}

div .texto{
    color: rgb(126, 126, 126);
}

form .boton{
    margin-top: 20px;
}
